.add-note-container {
    width: 17rem;
    height: 15rem;
    margin: 5rem auto;
    border: 1px solid gray;

    .add-note-form {
        padding: 1rem;

        input: {
            width: 40rem;
        }
    }
}