<div class="add-note-container">
    <form class="add-note-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <input type="text"
        name="text"
        id="text"
        placeholder="Your Note"
        [(ngModel)]="text" >
        
        <button type="submit">Add Note</button>
    </form>
</div>
