.notes-form {
    width: 90%;
    margin: 2rem auto;
    padding-bottom: 2rem;
    background-color: white;
    border-radius: 4px;
    min-height: 35rem;
    box-shadow: 0px 4px 4px #aaa;
    box-sizing: border-box;

    .notes-form-content {
        width: 90%;
        margin: 2rem auto;
        display: flex;
        flex-direction: column;

        h2 {
            font-weight: normal;
        }
    }
}