<div class="notes-form">
    <div class="notes-form-content">        
        <div class="my-notes-container">
            <h2>My Notes:</h2>
            <app-note
                *ngFor="let note of notes"
                [note]="note"
                [buttonText]="'Remove Note'"
                [buttonColor]="'indianred'"
                (onButtonClick)="removeNote($event)"
            ></app-note>
        </div>
    </div>    
</div>
