<div class="nav-bar-container" *ngIf="!navIsHidden" >
    <div class="menu-container">
        <a href="#">
            <img class="steam-logo"
            src="https://upload.wikimedia.org/wikipedia/commons/8/83/Steam_icon_logo.svg"
            alt="steam logo">
        </a>
        <div class="menu-container">
            <a routerLink="/notes" #notes [ngClass]="{'active' : activeElement === 'notes' }">Notes</a>            
            <a routerLink="/addNote" #addNote [ngClass]="{'active' : activeElement === 'addNote' }">Add Note</a>
            <!--<a routerLink="/profile" #profile [ngClass]="{'active' : activeElement === 'profile' }">Profile</a> -->
        </div>   
    </div>
    <button class="logout-button" (click)="onLogout()">Log out</button>
</div>
